round2.json
[{"id":"1f4de0c5.ef352f","type":"tab","label":"HR chatbot","disabled":false,"info":""},{"id":"70561772.ba4048","type":"tab","label":"Cuntdown-timer_r2","disabled":false,"info":""},{"id":"8b1068.18df0f98","type":"tab","label":"Questions_r2","disabled":false,"info":""},{"id":"637a16b2.c51038","type":"tab","label":"validation_r2","disabled":false,"info":""},{"id":"b5d96ce9.ac43b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b2cb7d10.ade45","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ea05701.bc93b8","type":"ui_group","z":"","name":"TOKESH","tab":"b2cb7d10.ade45","order":1,"disp":true,"width":"6","collapse":false},{"id":"9aec6aa0.703f48","type":"ui_spacer","name":"spacer","group":"e2b7aeb1.22845","order":3,"width":1,"height":1},{"id":"3f5a5fbe.d69b7","type":"ui_group","z":"","name":"Default","tab":"b2cb7d10.ade45","order":3,"disp":false,"width":"12","collapse":false},{"id":"df4c2cb0.a399d","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8f51015.2ec13","type":"ui_spacer","name":"spacer","group":"6ea05701.bc93b8","order":2,"width":6,"height":1},{"id":"4511bb6f.d159d4","type":"ui_spacer","name":"spacer","group":"6ea05701.bc93b8","order":4,"width":6,"height":1},{"id":"9069ca5b.8a15b8","type":"ui_spacer","name":"spacer","group":"6ea05701.bc93b8","order":6,"width":6,"height":1},{"id":"22bc43f0.65f43c","type":"ui_spacer","name":"spacer","group":"6ea05701.bc93b8","order":7,"width":6,"height":1},{"id":"fd320a9f.d28288","type":"ui_spacer","name":"spacer","group":"3f5a5fbe.d69b7","order":15,"width":4,"height":1},{"id":"342247d8.24a068","type":"ui_spacer","name":"spacer","group":"3f5a5fbe.d69b7","order":17,"width":3,"height":1},{"id":"68ed2944.9113e8","type":"ui_spacer","name":"spacer","group":"3f5a5fbe.d69b7","order":18,"width":4,"height":1},{"id":"73cb3e5e.95322","type":"ui_spacer","name":"spacer","group":"3f5a5fbe.d69b7","order":19,"width":3,"height":1},{"id":"b9228ae6.328f88","type":"ui_group","z":"","name":"round 3","tab":"264916f4.b8941a","order":1,"disp":true,"width":"6","collapse":false},{"id":"264916f4.b8941a","type":"ui_tab","z":"","name":"tech","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"251038f5.1f1078","type":"ui_form","z":"1f4de0c5.ef352f","name":"","label":"","group":"6ea05701.bc93b8","order":8,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":82,"y":199,"wires":[["afd6f87b.62bb88"]]},{"id":"afd6f87b.62bb88","type":"function","z":"1f4de0c5.ef352f","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":262,"y":200,"wires":[["9d06322f.e469a","43d17d74.d0d2b4"]]},{"id":"9d06322f.e469a","type":"watson-conversation-v1","z":"1f4de0c5.ef352f","name":"","workspaceid":"9d7570aa-6ef5-4531-9084-c1efde215cdd","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0846428b-f6d4-4e70-97fc-efcc4700ed67","timeout":"","optout-learning":false,"x":450,"y":200,"wires":[["8a5f7b84.8760c8","fc2bd7f8.e0fa98"]]},{"id":"5feeb846.bbf828","type":"ui_audio","z":"1f4de0c5.ef352f","name":"","group":"6ea05701.bc93b8","voice":"en-GB","always":"","x":810,"y":200,"wires":[]},{"id":"8a5f7b84.8760c8","type":"debug","z":"1f4de0c5.ef352f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":566,"y":425,"wires":[]},{"id":"43943981.4a2a38","type":"ui_text","z":"1f4de0c5.ef352f","group":"6ea05701.bc93b8","order":3,"width":0,"height":0,"name":"HR","label":"","format":"{{msg.payload}}","layout":"col-center","x":808,"y":261,"wires":[]},{"id":"43d17d74.d0d2b4","type":"ui_text","z":"1f4de0c5.ef352f","group":"6ea05701.bc93b8","order":5,"width":0,"height":0,"name":"User","label":"","format":"{{msg.payload}}","layout":"row-spread","x":401,"y":337,"wires":[]},{"id":"fc2bd7f8.e0fa98","type":"function","z":"1f4de0c5.ef352f","name":"","func":"var len;\nvar str = \"\";\nlen = msg.payload.output.text.length;\nfor (m=0; m<len;m++)\n{\n    str = str + msg.payload.output.text[m]; \n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":628,"y":203,"wires":[["5feeb846.bbf828","43943981.4a2a38"]]},{"id":"bcd15d53.8b7a7","type":"inject","z":"70561772.ba4048","name":"Force","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":161,"y":381,"wires":[["2f924c7b.8c36e4"]]},{"id":"da328dd.0ab077","type":"debug","z":"70561772.ba4048","name":"output","active":true,"console":"false","complete":"true","x":753,"y":309,"wires":[]},{"id":"1f6c895d.1ddc47","type":"function","z":"70561772.ba4048","name":"timeConvert","func":"var str;\nif ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\nstr = 'hours' + ':'+'mins';\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":557,"y":309,"wires":[["da328dd.0ab077"]]},{"id":"2f924c7b.8c36e4","type":"function","z":"70561772.ba4048","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":345,"y":381,"wires":[["1f6c895d.1ddc47"]]},{"id":"660500ae.91b6f","type":"inject","z":"70561772.ba4048","name":"Force","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":161,"y":309,"wires":[["1f6c895d.1ddc47"]]},{"id":"15921440.c2054c","type":"ui_template","z":"70561772.ba4048","group":"3f5a5fbe.d69b7","name":"COUNTDOWN TIMER","order":1,"width":0,"height":0,"format":"<!DOCTYPE HTML>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\np {\n  text-align: left;\n  font-size: 16px;\n  margin-top: 0px;\n}\n</style>\n</head>\n<body>\n\n<p id=\"demo\"></p>\n\n<script>\n// Set the date we're counting down to\nvar countDownDate = new Date();\ncountDownDate.setMinutes( countDownDate.getMinutes() + 1 );\n\n// Update the count down every 1 second\nvar x = setInterval(function() {\n\n  // Get today's date and time\n  var now = new Date().getTime();\n    \n  // Find the distance between now and the count down date\n  var distance = countDownDate - now;\n    \n  // Time calculations for days, hours, minutes and seconds\n  var days = Math.floor(distance / (1000 * 60 * 60 * 24));\n  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));\n  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));\n  var seconds = Math.floor((distance % (1000 * 60)) / 1000);\n    \n  // Output the result in an element with id=\"demo\"\n  document.getElementById(\"demo\").innerHTML = \"ENDS IN : \" + days + \"d \" + hours + \"h \"\n  + minutes + \"m \" + seconds + \"s \";\n    // If the count down is over, write some text \n  if (distance < 0) {\n    clearInterval(x);\n    document.getElementById(\"demo\").innerHTML = \"EXPIRED\";\n    location.replace(\"https://node-red-06072020.eu-gb.cf.appdomain.cloud/ui/#!/0?socketid=zhABj-tPp5bmDLqeAACi\");\n  }\n}, 1000);\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":166,"wires":[[]],"l":false},{"id":"b9a40998.0665b8","type":"ui_template","z":"70561772.ba4048","d":true,"group":"3f5a5fbe.d69b7","name":"Question Group","order":2,"width":12,"height":9,"format":"<!DOCTYPE html>\n<html>\n<head>\n\t<title></title>\n</head>\n<body>\n\t<div id=\"Q1\">\n\t<p>Q1. Look at this series: 7, 10, 8, 11, 9, 12, … What number should come next?</p>\n\t<ol>\n\t\t<li>7</li>\n\t\t<li>12</li>\n\t\t<li>10</li>\n\t\t<li>13</li>\n\t</ol>\n\t\n</div>\n<div id=\"Q2\">\n\t<p>Q2. Look at this series: 2, 1, (1/2), (1/4), … What number should come next?</p>\n\t<ol>\n\t\t<li>(1/3)</li>\n\t\t<li>(1/8)</li>\n\t\t<li>(2/8)</li>\n\t\t<li>(1/16)</li>\n\t</ol>\n\t\n</div>\n<div id=\"Q3\">\n\t<p>Q3. Which word does NOT belong with the others?</p>\n\t<ol>\n\t\t<li>index</li>\n\t\t<li>glossary</li>\n\t\t<li>chapter</li>\n\t\t<li>book</li>\n\t</ol>\n\t\n</div>\n<div id=\"Q4\">\n\t<p>Q4. Which word does NOT belong with the others?</p>\n\t<ol>\n\t\t<li>trival</li>\n\t\t<li>unimportant</li>\n\t\t<li>important</li>\n\t\t<li>insignificant</li>\n\t</ol>\n\t\n</div>\n<div id=\"Q5\">\n\t<p>Q5. An Informal Gathering occurs when a group of people get together in a casual, relaxed manner. Which situation below is the best example of an Informal Gathering?/p>\n\t<ol>\n\t\t<li>A debating club meets on the first Sunday morning of every month</li>\n\t\t<li>After finding out about his salary raise, Jay and a few colleagues go out for a quick dinner after work.</li>\n\t\t<li>Meena sends out 10 invitations for a bachelorette party she is giving for her elder sister.</li>\n\t\t<li>Whenever she eats at a Chinese restaurant, Roop seems to run into Dibya</li>\n\t</ol>\n\t\n</div>\n<div id=\"Q6\">\n\t<p>Q6. A Tiebreaker is an additional contest carried out to establish a winner among tied contestants. Choose one situation from the options below that best represents a Tiebreaker.</p>\n\t<ol>\n\t\t<li>At halftime, the score is tied at 2-2 in a football match</li>\n\t\t<li>Serena and Maria have each secured 1 set in the game.</li>\n\t\t<li>The umpire tosses a coin to decide which team will have bat first.</li>\n\t\t<li>RCB and KKR each finished at 140 all out</li>\n\t</ol>\n\t\n</div>\n\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":241,"y":49,"wires":[[]],"l":false,"info":"This node describes Questions"},{"id":"60b42629.1f92d8","type":"function","z":"637a16b2.c51038","name":"","func":"global.set(\"ans1\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":252,"y":52,"wires":[[]],"l":false},{"id":"340d0a70.526906","type":"function","z":"637a16b2.c51038","name":"","func":"var ans1 =global.get(\"ans1\");\nvar ans2 =global.get(\"ans2\");\nvar ans3 =global.get(\"ans3\");\nvar ans4 =global.get(\"ans4\");\nvar ans5 =global.get(\"ans5\");\nvar ans6 =global.get(\"ans6\");\nvar counter = 0;\nfunction check(x)\n{\n    return x+1;\n}\nif(ans1 ==\"3\")\n  counter = check(counter);\nif(ans2 ==\"2\")\n  counter = check(counter);\nif(ans3 ==\"4\")\n  counter = check(counter);\nif(ans4 ==\"3\")\n  counter = check(counter);\nif(ans5 ==\"2\")\n  counter = check(counter);\nif(ans6 ==\"4\")\n  counter = check(counter);\nglobal.set(\"score\", counter);\nmsg.payload = counter; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":537,"y":94,"wires":[["6dc23a73.88b684"]],"l":false},{"id":"6dc23a73.88b684","type":"debug","z":"637a16b2.c51038","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":94,"wires":[],"l":false},{"id":"8cca4a2.fea3db8","type":"ui_text_input","z":"637a16b2.c51038","name":"Q1_ans","label":"Q1_ans","tooltip":"","group":"3f5a5fbe.d69b7","order":4,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":135,"y":51,"wires":[["60b42629.1f92d8"]],"l":false},{"id":"a4996983.8af238","type":"ui_button","z":"637a16b2.c51038","name":"","group":"3f5a5fbe.d69b7","order":16,"width":5,"height":2,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":430,"y":93,"wires":[["340d0a70.526906"]],"l":false},{"id":"37f9c338.20b65c","type":"ui_template","z":"8b1068.18df0f98","group":"3f5a5fbe.d69b7","name":"Q1","order":3,"width":0,"height":0,"format":"<div >\n    <p>Please enter the answer choises alone</p>\n\t<p>Q1. Look at this series: 7, 10, 8, 11, 9, 12, … What number should come next?</p>\n\t<ol>\n\t\t<li>7</li>\n\t\t<li>12</li>\n\t\t<li>10</li>\n\t\t<li>13</li>\n\t</ol>\n\t\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":165,"y":151,"wires":[[]],"l":false},{"id":"11b83f7.33c74c1","type":"ui_template","z":"8b1068.18df0f98","group":"3f5a5fbe.d69b7","name":"Q2","order":5,"width":0,"height":0,"format":"<div id=\"Q2\">\n\t<p>Q2. Look at this series: 2, 1, (1/2), (1/4), … What number should come next?</p>\n\t<ol>\n\t\t<li>(1/3)</li>\n\t\t<li>(1/8)</li>\n\t\t<li>(2/8)</li>\n\t\t<li>(1/16)</li>\n\t</ol>\n\t\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":241,"y":152,"wires":[[]],"l":false},{"id":"565a7876.93a768","type":"ui_template","z":"8b1068.18df0f98","group":"3f5a5fbe.d69b7","name":"Q3","order":7,"width":0,"height":0,"format":"<div id=\"Q3\">\n\t<p>Q3. Which word does NOT belong with the others?</p>\n\t<ol>\n\t\t<li>index</li>\n\t\t<li>glossary</li>\n\t\t<li>chapter</li>\n\t\t<li>book</li>\n\t</ol>\n\t\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":315,"y":154,"wires":[[]],"l":false},{"id":"d2dd630b.66891","type":"ui_template","z":"8b1068.18df0f98","group":"3f5a5fbe.d69b7","name":"Q4","order":9,"width":0,"height":0,"format":"<div id=\"Q4\">\n\t<p>Q4. Which word does NOT belong with the others?</p>\n\t<ol>\n\t\t<li>trival</li>\n\t\t<li>unimportant</li>\n\t\t<li>important</li>\n\t\t<li>insignificant</li>\n\t</ol>\n\t\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":399,"y":152,"wires":[[]],"l":false},{"id":"ec26c4d1.5714e8","type":"ui_template","z":"8b1068.18df0f98","group":"3f5a5fbe.d69b7","name":"Q5","order":11,"width":0,"height":0,"format":"<div id=\"Q5\">\n\t<p>Q5. An Informal Gathering occurs when a group of people get together in a casual, relaxed manner. Which situation below is the best example of an Informal Gathering?/p>\n\t<ol>\n\t\t<li>A debating club meets on the first Sunday morning of every month</li>\n\t\t<li>After finding out about his salary raise, Jay and a few colleagues go out for a quick dinner after work.</li>\n\t\t<li>Meena sends out 10 invitations for a bachelorette party she is giving for her elder sister.</li>\n\t\t<li>Whenever she eats at a Chinese restaurant, Roop seems to run into Dibya</li>\n\t</ol>\n\t\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":476,"y":149,"wires":[[]],"l":false},{"id":"dac569c8.a2dd38","type":"ui_template","z":"8b1068.18df0f98","group":"3f5a5fbe.d69b7","name":"Q6","order":13,"width":0,"height":0,"format":"<div id=\"Q6\">\n\t<p>Q6. A Tiebreaker is an additional contest carried out to establish a winner among tied contestants. Choose one situation from the options below that best represents a Tiebreaker.</p>\n\t<ol>\n\t\t<li>At halftime, the score is tied at 2-2 in a football match</li>\n\t\t<li>Serena and Maria have each secured 1 set in the game.</li>\n\t\t<li>The umpire tosses a coin to decide which team will have bat first.</li>\n\t\t<li>RCB and KKR each finished at 140 all out</li>\n\t</ol>\n\t\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":546,"y":153,"wires":[[]],"l":false},{"id":"760c5539.b09e4c","type":"function","z":"637a16b2.c51038","name":"","func":"global.set(\"ans2\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":248,"y":112,"wires":[[]],"l":false},{"id":"c138c031.1c707","type":"ui_text_input","z":"637a16b2.c51038","name":"Q2_ans","label":"Q2_ans","tooltip":"","group":"3f5a5fbe.d69b7","order":6,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":131,"y":111,"wires":[["760c5539.b09e4c"]],"l":false},{"id":"8b28887c.fa4ae8","type":"function","z":"637a16b2.c51038","name":"","func":"global.set(\"ans3\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":247,"y":167,"wires":[[]],"l":false},{"id":"e1d0b1b3.5a903","type":"ui_text_input","z":"637a16b2.c51038","name":"Q3_ans","label":"Q3_ans","tooltip":"","group":"3f5a5fbe.d69b7","order":8,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":130,"y":166,"wires":[["8b28887c.fa4ae8"]],"l":false},{"id":"af9212ef.33354","type":"function","z":"637a16b2.c51038","name":"","func":"global.set(\"ans4\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":243,"y":221,"wires":[[]],"l":false},{"id":"c70bb03f.3085f","type":"ui_text_input","z":"637a16b2.c51038","name":"Q4_ans","label":"Q4_ans","tooltip":"","group":"3f5a5fbe.d69b7","order":10,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":126,"y":220,"wires":[["af9212ef.33354"]],"l":false},{"id":"f6b713e9.0a294","type":"function","z":"637a16b2.c51038","name":"","func":"global.set(\"ans5\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":246,"y":277,"wires":[[]],"l":false},{"id":"4085ff43.14aaa","type":"ui_text_input","z":"637a16b2.c51038","name":"Q5_ans","label":"Q5_ans","tooltip":"","group":"3f5a5fbe.d69b7","order":12,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":129,"y":276,"wires":[["f6b713e9.0a294"]],"l":false},{"id":"3ba60316.0e5ddc","type":"function","z":"637a16b2.c51038","name":"","func":"global.set(\"ans6\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":244,"y":334,"wires":[[]],"l":false},{"id":"4cc9c931.86b708","type":"ui_text_input","z":"637a16b2.c51038","name":"Q6_ans","label":"Q6_ans","tooltip":"","group":"3f5a5fbe.d69b7","order":14,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":127,"y":333,"wires":[["3ba60316.0e5ddc"]],"l":false},{"id":"6f26f751.0121e8","type":"ui_text","z":"1f4de0c5.ef352f","group":"6ea05701.bc93b8","order":1,"width":0,"height":0,"name":"Note","label":"NOTE:","format":"{{msg.payload}}","layout":"col-center","x":447.5,"y":81,"wires":[],"l":false},{"id":"11c92f17.14dae1","type":"function","z":"1f4de0c5.ef352f","name":"","func":"msg.payload= \"Enter your name First\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":314,"y":80,"wires":[["6f26f751.0121e8"]]},{"id":"45ded474.a4918c","type":"inject","z":"1f4de0c5.ef352f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":105,"y":75,"wires":[["11c92f17.14dae1"]],"l":false},{"id":"3e0b97aa.a9f688","type":"ui_text_input","z":"637a16b2.c51038","name":"roll number","label":"Enter your roll number","tooltip":"","group":"3f5a5fbe.d69b7","order":14,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":428,"y":181,"wires":[["3d10372.4ce1dc8"]],"l":false},{"id":"3d10372.4ce1dc8","type":"function","z":"637a16b2.c51038","name":"","func":"var rollnumber = msg.payload;\nglobal.set(\"rollnumber\",rollnumber);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":532,"y":181,"wires":[["fc1ea93.aae5558"]],"l":false},{"id":"fc1ea93.aae5558","type":"debug","z":"637a16b2.c51038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":641,"y":181,"wires":[],"l":false}]