round3.json
[{"id":"36ae913c.18e08e","type":"tab","label":"Technical HR","disabled":false,"info":""},{"id":"11aefc6d.1f5904","type":"ui_form","z":"36ae913c.18e08e","name":"","label":"","group":"b9228ae6.328f88","order":8,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":68,"y":209,"wires":[["3b78ded3.e303b2"]]},{"id":"3b78ded3.e303b2","type":"function","z":"36ae913c.18e08e","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":248,"y":210,"wires":[["510860f8.6ba5f","e0481d3b.be509"]]},{"id":"510860f8.6ba5f","type":"watson-conversation-v1","z":"36ae913c.18e08e","name":"Tech HR","workspaceid":"ed0bbb2f-eb57-4091-a634-de52b9625ea4","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0846428b-f6d4-4e70-97fc-efcc4700ed67","timeout":"","optout-learning":false,"x":436,"y":210,"wires":[["ecbd41f5.c64fb","8477a1ea.86dca","4cec44b6.69ecdc","4af8abb3.93dbd4","39baf607.1757aa","add35b02.b73698"]]},{"id":"476cac5a.f0e1f4","type":"ui_audio","z":"36ae913c.18e08e","name":"","group":"b9228ae6.328f88","voice":"en-GB","always":"","x":796,"y":210,"wires":[]},{"id":"ecbd41f5.c64fb","type":"debug","z":"36ae913c.18e08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":552,"y":435,"wires":[]},{"id":"913a2e76.45f1e","type":"ui_text","z":"36ae913c.18e08e","group":"b9228ae6.328f88","order":3,"width":0,"height":0,"name":"HR","label":"","format":"{{msg.payload}}","layout":"col-center","x":794,"y":271,"wires":[]},{"id":"e0481d3b.be509","type":"ui_text","z":"36ae913c.18e08e","group":"b9228ae6.328f88","order":5,"width":0,"height":0,"name":"User","label":"","format":"{{msg.payload}}","layout":"row-spread","x":387,"y":347,"wires":[]},{"id":"8477a1ea.86dca","type":"function","z":"36ae913c.18e08e","name":"","func":"var len;\nvar str = \"\";\nlen = msg.payload.output.text.length;\nfor (m=0; m<len;m++)\n{\n    str = str + msg.payload.output.text[m]; \n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":614,"y":213,"wires":[["476cac5a.f0e1f4","913a2e76.45f1e"]]},{"id":"d8762778.badcf8","type":"ui_text","z":"36ae913c.18e08e","group":"b9228ae6.328f88","order":1,"width":0,"height":0,"name":"Note","label":"NOTE:","format":"{{msg.payload}}","layout":"col-center","x":433.5,"y":91,"wires":[],"l":false},{"id":"2adf46ee.92fd4a","type":"function","z":"36ae913c.18e08e","name":"","func":"msg.payload= \"Enter your id First\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":90,"wires":[["d8762778.badcf8"]]},{"id":"7447050e.67f47c","type":"inject","z":"36ae913c.18e08e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":91,"y":85,"wires":[["2adf46ee.92fd4a"]],"l":false},{"id":"4cec44b6.69ecdc","type":"function","z":"36ae913c.18e08e","name":"","func":"var intent = msg.payload.intents[0].intent\nif (intent == \"telling_rollnumber\")\n{\n    global.set(\"rollnumber\",msg.payload.input.text);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":768,"y":330,"wires":[[]]},{"id":"4af8abb3.93dbd4","type":"function","z":"36ae913c.18e08e","name":"","func":"var ent1 = msg.payload.entities[0].entity;\nif (ent1 == \"answer\")\n{\n    global.set(\"ans1\",msg.payload.entities[0].value);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":775,"y":391,"wires":[[]]},{"id":"39baf607.1757aa","type":"function","z":"36ae913c.18e08e","name":"","func":"var ent2 = msg.payload.entities[0].entity;\nif (ent2 == \"answer2\")\n{\n    global.set(\"ans2\",msg.payload.entities[0].value);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":782,"y":449,"wires":[[]]},{"id":"add35b02.b73698","type":"function","z":"36ae913c.18e08e","name":"","func":"var thank = msg.payload.output.text[1];\nvar score3 = 0;\nif (thank == \"Thank you\")\n{\n  global.get(\"ans1\");\n  global.get(\"ans1\");\n  if(ans1 == \"for\")\n  {\n      score3 =score3 + 1;\n  }\n  if (ans2 == \"condition\")\n  {\n      score3 = score + 1;\n  }\n  global.set(\"Score3\",score3)\n  msg.payload = score3;\n  return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":796,"y":497,"wires":[["a7636119.c4e74"]]},{"id":"a7636119.c4e74","type":"debug","z":"36ae913c.18e08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":928,"y":494,"wires":[],"l":false},{"id":"b9228ae6.328f88","type":"ui_group","z":"","name":"round 3","tab":"264916f4.b8941a","order":1,"disp":true,"width":"6","collapse":false},{"id":"264916f4.b8941a","type":"ui_tab","z":"","name":"tech","icon":"dashboard","order":2,"disabled":false,"hidden":false}]