round3json.json
[{"id":"4cec44b6.69ecdc","type":"function","z":"36ae913c.18e08e","name":"","func":"var intent = msg.payload.intents[0].intent\nif (intent == \"telling_rollnumber\")\n{\n    global.set(\"rollnumber\",msg.payload.input.text);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":768,"y":330,"wires":[[]]},{"id":"4af8abb3.93dbd4","type":"function","z":"36ae913c.18e08e","name":"","func":"var ent1 = msg.payload.entities[0].entity;\nif (ent1 == \"answer\")\n{\n    global.set(\"ans1\",msg.payload.entities[0].value);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":775,"y":391,"wires":[[]]},{"id":"39baf607.1757aa","type":"function","z":"36ae913c.18e08e","name":"","func":"var ent2 = msg.payload.entities[0].entity;\nif (ent2 == \"answer2\")\n{\n    global.set(\"ans2\",msg.payload.entities[0].value);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":782,"y":449,"wires":[[]]},{"id":"add35b02.b73698","type":"function","z":"36ae913c.18e08e","name":"","func":"var thank = msg.payload.output.text[1];\nvar score3 = 0;\nif (thank == \"Thank you\")\n{\n  global.get(\"ans1\");\n  global.get(\"ans1\");\n  if(ans1 == \"for\")\n  {\n      score3 =score3 + 1;\n  }\n  if (ans2 == \"condition\")\n  {\n      score3 = score + 1;\n  }\n  global.set(\"Score3\",score3)\n  msg.payload = score3;\n  return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":796,"y":497,"wires":[["a7636119.c4e74"]]}]